{% extends 'app/base.html' %}
{% load static %}

{% block title %} change password {% endblock %}


{% block body %}
<p class="text-center" style="    background-color: #03A9F4;
color:white ;" > change password here .</p>
<br><hr>
<div class="container">

<div class="row">
  <div class="col-md-1">
    <h6 class="ml-4" style="color: #03A9F4;"><b class="smooth px-3"><a href="{% url 'home'  %}" style="color: #03A9F4;"><i>Back</i> </a></b></h3>
  </div>
  <div class="col-md-11">
    <h3 class="text-center " style="color: #03A9F4;"><b class="smooth px-3"><i>Change Password  </i> </b></h3>
  </div>
</div>
</div>
<hr style="color: #03A9F4;">


<div class="navbar navbar-expand-lg smooth" style="background-color: #03A9F4;">
    <div class="container my-2">
      <form method="POST" action="{% url 'change_self_password'  %}" class=" my-2 my-lg-0 ">
    
        {%  csrf_token  %}
        <div class="row">
    
          <div class="col-md-4">
            <input name="old_password" id="old_password" class="form-control mr-sm-2" type="text" placeholder="OLD PASSWORD"  aria-label="client id." title="enter old password" width=25  required>
          </div>

          <div class="col-md-4">
            <input name="new_password" id="new_password" class="form-control mr-sm-2" type="text" placeholder="NEW PASSWORD"  aria-label="client id." title="enter new password" width=25  required>
          </div>

          <input name="username" value="{{ user.get_username }}" id="username" class="form-control" type="hidden"  required>

          <div class="col-md-4">
            <button  style="float:right;" class="btn btn-warning my-2 my-sm-0" type="submit" title="Create"  required>Change Password</button>
          </div>

        </div>
            
        </form>

      </div>
    </div>
    {% if error %}
    <p class="my-4" style="color: red;text-align: center;" > {{error}}</p>
    {% endif %}
<hr>







{%endblock%}